@import "tailwindcss";

html,
body {
  background-color: #0f1117;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes blink {

  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

.cursor-blink {
  animation: blink 0.7s step-end infinite;
}